QWidget{
    background-color: #ADD8E6;
    color: black;
    font-family: "arial";
}

QLabel{
    font-size: 15px;
    font-weight: bold;
}

QLineEdit{
    background-color: aliceblue;
    border-radius: 10px;
}

QPushButton{
    background-color: #40E0D0;
    font-size: 25px;
    color: white;
    border-radius: 10px;
}